# Bayesian inference and Naive Bayes classifier for emails

In [40]:
import numpy as np
import pandas as pd
import os

In [35]:
# Read dataset

df = pd.read_table(os.path.join('smsspamcollection', 'SMSSpamCollection'), sep = '\t', names = ['label','sms_message'])
df.head()

  label                                        sms_message
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [39]:
# change label format to numeric

df['label'] = df['label'].map({"ham":0, "spam":1})
print(df.shape)
df.head()

(5572, 2)

   label                                        sms_message
0    NaN  Go until jurong point, crazy.. Available only ...
1    NaN                      Ok lar... Joking wif u oni...
2    NaN  Free entry in 2 a wkly comp to win FA Cup fina...
3    NaN  U dun say so early hor... U c already then say...
4    NaN  Nah I don't think he goes to usf, he lives aro...

## Bag of words manual implementation example

In [70]:
# Transorm text to lowercase

documents = ['Hello, how are you!',
             'Win money, win from home.',
             'Call me now.',
             'Hello, Call hello you tomorrow?']

lower_case_documents = [document.lower() for document in documents]
lower_case_documents

['hello, how are you!',
 'win money, win from home.',
 'call me now.',
 'hello, call hello you tomorrow?']

In [71]:
# Remove punctuation

import re
import string

# sans_punctuation_documents = [re.sub(r'[^a-zA-Z0-9]', ' ', document).strip() for document in lower_case_documents]
# sans_punctuation_documents = [re.sub(r'\s{2,}', ' ', document) for document in sans_punctuation_documents]

sans_punctuation_documents = [document.translate(str.maketrans('','', string.punctuation)) for document in lower_case_documents]
sans_punctuation_documents

['hello how are you',
 'win money win from home',
 'call me now',
 'hello call hello you tomorrow']

In [ ]:
!git add .
!git commit -m